service:
  name: transaction-service

plugins:
  - serverless-bundle
  - serverless-pseudo-parameters

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 256
  stage: ${opt:stage, 'dev'}
  region: ap-south-1
  environment:
    TRANSACTIONS_TABLE_NAME: ${self:custom.TransactionsTable.name}
    BRANCHES_TABLE_NAME: ${self:custom.BranchesTable.name}
    EMPLOYEES_TABLE_NAME: ${self:custom.EmployeesTable.name}
    RATES_TABLE_NAME: ${self:custom.RatesTable.name}
  iamRoleStatements:
    - ${file(iam/TransactionsTableIAM.yml):TransactionsTableIAM}
    - ${file(iam/BranchesTableIAM.yml):BranchesTableIAM}
    - ${file(iam/EmployeesTableIAM.yml):EmployeesTableIAM}
    - ${file(iam/RatesTableIAM.yml):RatesTableIAM}

resources:
  Resources:
    TransactionsTable: ${file(resources/TransactionsTable.yml):TransactionsTable}
    BranchesTable: ${file(resources/BranchesTable.yml):BranchesTable}
    EmployeesTable: ${file(resources/EmployeesTable.yml):EmployeesTable}
    RatesTable: ${file(resources/RatesTable.yml):RatesTable}
  
functions:
  createTransaction:
    handler: src/handlers/createTransaction.handler
    events:
      - http:
          method: POST
          path: /createTransaction
          
  getTransaction:
    handler: src/handlers/getTransaction.handler
    events:
      - http:
          method: GET
          path: /getTransaction/{id}


custom:
  TransactionsTable:
    name: !Ref TransactionsTable 
    arn: !GetAtt TransactionsTable.Arn
  BranchesTable:
    name: !Ref BranchesTable 
    arn: !GetAtt BranchesTable.Arn
  EmployeesTable:
    name: !Ref EmployeesTable
    arn: !GetAtt EmployeesTable.Arn
  RatesTable:
    name: !Ref RatesTable
    arn: !GetAtt RatesTable.Arn
  bundle:
    linting: false
